@media (max-width: 1166px) {
    .contact_section .custom_container,
    .more_box_section .custom_container,
    .services_section .custom_container {
        max-width: 900px;
    }
    .heading_text_left {
        padding: 14px 45px 14px 43px;
    }
    .heading_text_right {
        padding: 14px 69px 14px 80px;
    }
    .heading_text_right h3, 
    .heading_text_left h3 {
        font-size: 48px;
        line-height: 52px;
    }
    .services_section {
        padding: 60px 0px 100px;
        background-image: url('../images/service_bg_image_2.png');
    }
    .services_content_sec h4.services_box_text {
        font-size: 46px;
        top: -48px;
    }
    .news_section a.button_read_more {
        margin-top: 60px;
    }
    .more_box_section {
        padding: 160px 0 80px;
    }
    .more_box_section .more_box {
        padding: 30px 30px;
    }
    .more_box_section .more_box a {
        margin-top: 50px;
    }
}
@media(max-width: 1149px) {
	a.header_logo {
		margin: 5px 0px 0px 5px;
	}
	.custom_navbar ul li {
		margin-right: 25px;
	}
	.footer_menu_left a.footer_logo {
		margin-right: 15px;
	}
	.footer_menu_right ul li a {
		margin-right: 25px;
	}
}
@media(max-width: 1024px) {
	.custom_navbar ul li a {
		font-size: 16px;
		line-height: 55px;
	}
	.custom_navbar .header_button {
		height: 55px;
		width: 55px;
		padding: 10px;
	}
	.custom_navbar .header_button.inquiry {
		font-size: 16px;
		line-height: 35px;
		padding: 10px 15px;
	}
	.custom_navbar .header_button i {
		font-size: 24px;
	}
	.footer_menu_left a.social {
		margin: 0px 10px;
	}
	.footer_menu_right ul li a {
		font-size: 16px;
	}
}
@media(max-width: 900px) {
	header {
		padding: 5px 10px;
	}
	a.header_logo {
		margin: 0px;
		position: relative;
		z-index: 9999;
	}
	a.header_logo img {
		height: 90px;
	}
	.custom_navbar {
		width: 300px;
		position: fixed;
		top: 0;
		right: -300px;
		bottom: 0;
		min-height: 100vh;
		background-color: #ffff;
		padding: 130px 20px 20px;
		display: block;
		transition: all 0.4s;
	}
	.custom_navbar.navbar_animate {
		right: 0px;
	}
	.custom_navbar ul {
		display: block;
	}
	.custom_navbar ul li {
		margin-right: 0px;
		margin-bottom: 30px;
	}
	.custom_navbar ul li a {
		line-height: normal;
		width: 100%;
	}
	.custom_navbar ul li a:after,
	.footer_menu_right ul li a:after {
		display: none;
	}
	.custom_navbar .header_buttons_menu {
		justify-content: space-between;
		margin-top: 50px;
		margin: 0px;
	}
	.custom_navbar .header_button {
		padding: 10px;
		width: 30%;
	}
	.custom_navbar .header_button.inquiry {
		font-size: 16px;
		line-height: 35px;
		padding: 10px 15px;
		flex: 0 0 100%;
		max-width: 100%;
		margin-top: 10px;
	}
	.banner_text_section .banner_title span {
        font-size: 36px;
    }
	.footer_menu_left,
	.footer_menu_right {
		flex: 0 0 100%;
		max-width: 100%;
	}
	.footer_menu_left a.footer_logo {
		display: table;
		margin: auto auto 30px;
	}
	.footer_menu_left .footer_buttons_menu {
		flex: 0 0 100%;
		text-align: center;
	}
	.footer_menu_right {
		justify-content: center;
	}
	.footer_menu_right ul li {
    	margin-top: 30px;
    }
	.footer_menu_right ul li a {
		margin-right: 20px;
	}
	.footer_menu {
        padding: 25px 0px 80px;
    }
	.heading_text_left {
        padding: 10px 45px 10px 43px;
        margin-bottom: 60px;
    }
    .heading_text_right {
        padding: 10px 69px 10px 80px;
    }
    .heading_text_right h3, .heading_text_left h3 {
        font-size: 40px;
        line-height: 52px;
    }
    .services_content_sec h4.services_box_text {
        font-size: 40px;
        top: -50px;
    }
    .services_image_text p {
        font-size: 20px;
        line-height: 30px;
    }
    .services_image_text p span {
        font-size: 16px;
    }
    .services_section .button_read_more {
        margin: 20px auto 0;
    }
    .news_section a.button_read_more {
        margin-top: 40px;
    }
    .more_box_section .more_box {
        padding: 20px;
    }
    .more_box_section .more_box h1 {
        font-size: 28px;
        line-height: 32px;
    }
    .contact_section .contact_content {
        padding: 40px 15px;
    }
    .contact_section .contact_content h3 {
        font-size: 30px;
        line-height: 34px;
    }
    .contact_section .contact_content h6 {
        font-size: 16px;
        line-height: 25px;
    }
    .contact_section .contact_content a {
        max-width: 250px;
        height: 50px;
        line-height: 50px;
    }
}
@media(max-width: 675px) {
	.custom_container {
        padding: 0 15px !important;
    }
    .custom_row {
        margin: 0 -15px !important;
    }
    .custom_col_6 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0 15px !important;
    }
    .services_section {
        padding: 40px 0px 80px;
    }
    .heading_text_left {
        padding: 10px 35px 10px 20px;
        margin-bottom: 50px;
    }
    .heading_text_right h3, .heading_text_left h3 {
        font-size: 34px;
        line-height: 37px;
    }
    .services_image_text {
        height: 44px;
    }
    .services_content_sec h4.services_box_text {
        font-size: 36px;
        top: -50px;
        left: 0;
        right: auto;
    }
    .more_box_section {
        padding: 120px 0 40px;
    }
    .more_box_section .custom_col_6 {
        margin: 10px 0;
    }
    .services_content_sec .services_box {
        max-width: 100%;
    }
    .news_section {
        margin-top: -20px;
    }
    .heading_text_right {
        padding: 10px 20px 10px 40px;
    }
    .footer_menu {
        padding: 25px 0px 60px;
    }
    .contact_section .contact_content {
        margin-right: auto;
        padding: 30px 15px;
    }
	.button_read_more {
    	height: 50px;
    	width: 180px;
    	line-height: 50px;
    	font-size: 16px;
    }
    .button_read_more:before {
    	width: 85px;
    	left: -60px;
    }
	.custom_navbar {
		width: 100%;
		right: -100%;
	}
	.banner_text_section {
		padding: 10px;
	}
	.banner_text_section .banner_title {
		padding: 5px 10px;
	}
    .banner_text_section .banner_title span {
        font-size: 24px;
        min-width: 10px;
    }
    .banner_text_section .banner_sub_title {
        font-size: 18px;
        padding: 5px 10px;
    }
    .banner_text_section .banner_sub_text {
        font-size: 16px;
        padding: 5px 10px;
        margin: 0px auto 20px;
    }
    .banner_text_section .arts_and_more {
        font-size: 14px;
        padding: 5px 10px;
        margin: 0px auto;
    }
    .rings_animated {
    	height: 280px;
    	width: 280px;
    }
    .ring_1 {
    	left: -5px;
    	top: 0px;
    }
    .ring_2 {
    	left: 20px;
    	top: -15px;
    }
    .ring_3 {
    	left: 5px;
    	top: 5px;
    }
    .ring_4 {
    	left: 0px;
    	top: 0px;
    }
    .three_circle_images {
    	width: 100%;
    	height: auto;
    	top: auto;
    	bottom: 65px;
    	padding: 0px 15px;
    }
    .three_circle_images {
    	justify-content: space-around;
    }
    .three_circle_images .circle {
    	height: 80px;
    	width: 80px;
    	margin: auto !important;
    }
    .footer_menu_right ul {
    	display: block;
    }
    .footer_menu_right ul li a {
    	margin: auto;
    	line-height: normal;
    }
}