/*entertainment section css start*/
.entertainment_content {
    position: relative;
}
.mission_content .custom_row,
.entertainment_content .custom_row {
    margin: 0 !important;
}
.entertainment_content .custom_col_image {
    -ms-flex: 0 0 970px;
    flex: 0 0 970px;
    max-width: 970px;
}
.entertainment_content .custom_col_image img {
    width: 100%;
}
.entertainment_content .custom_col_text {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    display: table;
    padding-left: 80px;
}
.entertainment_text h1 {
    font-size: 55px;
    background-color: #fff;
    display: table;
    line-height: 89px;
    font-weight: 700;
    margin-bottom: 15px;
    font-family: 'Noto Sans JP', sans-serif;
}
.entertainment_text p {
    font-size: 18px;
    font-weight: 700;
    font-family: 'Noto Sans', sans-serif;
    line-height: 40px;
    background-color: #fff;
    display: table;
}
/*entertainment section css end*/

/*mission section css start*/
.mission_section {
    padding: 130px 0;
    position: relative;
}
.mission_section img.dot_square_pattern_image {
    position: absolute;
    bottom: -340px;
    right: -390px;
}
.mission_content .custom_col_image {
    -ms-flex: 0 0 680px;
    flex: 0 0 680px;
    max-width: 680px;
}
.mission_content .custom_col_text {
    -ms-flex: 0 0 calc(100% - 680px);
    flex: 0 0 calc(100% - 680px);
    max-width: calc(100% - 680px);
}
.mission_content .mission_image {
    position: relative;
    overflow: hidden;
    padding-top: 93.9%;
}
.mission_content .mission_image img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}
.mission_content .mission_text {
    padding: 10px 120px;
}
.faq_section .heading_text,
.job_type_section .heading_text,
.mission_content .mission_text .heading_text {
    display: table;
    position: relative;
    z-index: 1;
}
.faq_section .heading_text h3,
.job_type_section .heading_text h3,
.mission_content .mission_text .heading_text h3 {
    font-size: 40px;
    font-weight: 700;
    color: #FF0000;
    line-height: 40px;
    font-family: 'Futura';
}
.faq_section .heading_text p,
.job_type_section .heading_text p,
.mission_content .mission_text .heading_text p {
    font-size: 18px;
    font-weight: 700;
    color: #FF0000;
    line-height: 28px;
    text-align: right;
    font-family: 'Yu Gothic';
}
.mission_content .mission_text h2 {
    margin: 70px 0 40px;
    color: #0F0F0F;
    font-size: 35px;
    font-weight: 700;
    line-height: 56px;
    font-family: 'Noto Sans JP', sans-seri
}
.mission_content .mission_text ul li:not(:last-child) {
    margin-bottom: 20px;
}
.mission_content .mission_text ul p {
    font-size: 16px;
    color: #0F0F0F;
    font-weight: 700;
    line-height: 30px;
    font-family: 'Noto Sans', sans-serif;
    position: relative;
    z-index: 1;
}
/*mission section css end*/

/*job type section css start*/
.job_type_table {
    display: table;
    width: auto;
}
.job_type_section .custom_container {
    max-width: 1200px;
}
.job_type_table_row {
    display: table-row;
}
.job_type_table_th, 
.job_type_table_td {
    display: table-cell;
    padding: 15px 0;
    border-bottom: 1px solid #D5D5D5;
}
.job_type_section .custom_row {
    margin: 0 !important;
    margin-top: 70px !important;
    position: relative;
    z-index: 1;
}
.job_type_section .custom_col_btn {
    -ms-flex: 0 0 280px;
    flex: 0 0 280px;
    max-width: 280px;
}
.job_type_section .job_type_btns_list li {
    padding: 10px 0;
    width: 100%;
}
.job_type_section .job_type_btns_list a {
    display: block;
    width: 100%;
    max-width: 280px;
    height: 50px;
    text-align: center;
    background-color: #f00;
    line-height: 50px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 18px;
}
.job_type_section .custom_col_text {
    -ms-flex: 0 0 calc(100% - 280px);
    flex: 0 0 calc(100% - 280px);
    max-width: calc(100% - 280px);
    padding-left: 140px;
}
.job_type_table p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.job_type_table_th p {
    font-weight: 700;
    padding-right: 20px;
}
.job_type_section a.button_read_more {
    margin-top: 100px;
    width: 320px;
}
/*job type section css end*/

/*faq section css start*/
.faq_section {
    padding: 180px 0;
    position: relative;
}
.faq_section .custom_container {
    max-width: 1200px;
}
.faq_section .custom_row {
    margin: 0;
}
.faq_section .custom_col_heading {
    -ms-flex: 0 0 394px;
    flex: 0 0 394px;
    max-width: 394px;
    position: relative;
    z-index: 1;
}
.faq_section .job_type_btns_list li {
    padding: 10px 0;
    width: 100%;
}
.faq_section .job_type_btns_list a {
    display: block;
    width: 100%;
    max-width: 250px;
    height: 50px;
    text-align: center;
    background-color: #f00;
    line-height: 50px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 18px;
}
.faq_section .custom_col_text {
    -ms-flex: 0 0 calc(100% - 394px);
    flex: 0 0 calc(100% - 394px);
    max-width: calc(100% - 394px);
    position: relative;
    z-index: 1;
}
.faq_section .ui-accordion-header {
    background-color: transparent;
    color: #0F0F0F;
    border: none;
    border-top: 2px solid #0F0F0F;
    border-radius: 0px;
    padding: 20px 50px 20px 70px !important;
    position: relative;
    font-weight: 700;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
}
.faq_section .ui-accordion .ui-accordion-content {
    border: none;
    padding: 0 50px 20px 70px;
    position: relative;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Noto Sans', sans-serif;
    background-color: transparent;
}
.faq_section .ui-accordion .ui-accordion-content P {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Noto Sans', sans-serif;
}
.faq_section .ui-accordion-header span.q_text {
    font-size: 20px;
    line-height: 1;
    color: #FF0000;
    font-weight: 500;
    position: absolute;
    top: 20px;
    left: 32px;
}
.faq_section .ui-accordion-header span.ui-accordion-header-icon {
    position: absolute;
    top: 0;
    right: 45px;
    bottom: 0;
    margin: auto;
    width: 20px;
    height: 20px;
}
.faq_section .ui-accordion-header span.ui-accordion-header-icon:before {
    content: '';
    width: 100%;
    height: 3px;
    border-radius: 3px;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.faq_section .ui-accordion-header span.ui-accordion-header-icon:after {
    content: '';
    width: 3px;
    height: 100%;
    border-radius: 3px;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.faq_section .ui-accordion-header.ui-accordion-header-active span.ui-accordion-header-icon:after {
    display: none;
}
.faq_section .ui-accordion .ui-accordion-content span.a_text {
    font-size: 20px;
    line-height: 1;
    color: #FF0000;
    font-weight: 500;
    font-family: 'Futura';
    position: absolute;
    top: 0px;
    left: 32px;
}
.faq_section img.dot_square_pattern_second {
    position: absolute;
    bottom: -250px;
    left: -310px;
}
/*faq section css end*/

@media (max-width: 1166px) {
    .faq_section .custom_container,
    .job_type_section .custom_container {
        max-width: 900px;
    }
    .entertainment_content .custom_col_image {
        -ms-flex: 0 0 770px;
        flex: 0 0 770px;
        max-width: 770px;
    }
    .entertainment_text h1 {
        font-size: 42px;
        line-height: 72px;
    }
    .entertainment_content .custom_col_text {
        padding-left: 40px;
    }
    .mission_content .custom_col_image {
        -ms-flex: 0 0 450px;
        flex: 0 0 450px;
        max-width: 450px;
    }
    .mission_content .custom_col_text {
        -ms-flex: 0 0 calc(100% - 450px);
        flex: 0 0 calc(100% - 450px);
        max-width: calc(100% - 450px);
    }
    .mission_content .mission_text {
        padding: 10px 60px;
    }
    .faq_section .heading_text h3, .job_type_section .heading_text h3, .mission_content .mission_text .heading_text h3 {
        font-size: 34px;
        line-height: 32px;
    }
    .mission_content .mission_text h2 {
        margin: 30px 0 20px;
        font-size: 28px;
        line-height: 44px;
    }
    .mission_section img.dot_square_pattern_image {
        max-width: 690px;
        bottom: -190px;
        right: -320px;
        z-index: 0;
    }
    .job_type_section .custom_col_text {
        padding-left: 80px;
    }
    .faq_section {
        padding: 150px 0 100px;
    }
    .faq_section .custom_col_heading {
        -ms-flex: 0 0 300px;
        flex: 0 0 300px;
        max-width: 300px;
    }
    .faq_section .custom_col_text {
        -ms-flex: 0 0 calc(100% - 300px);
        flex: 0 0 calc(100% - 300px);
        max-width: calc(100% - 300px);
    }
    .faq_section .ui-accordion-header span.ui-accordion-header-icon {
        right: 30px;
    }
    .faq_section img.dot_square_pattern_second {
        bottom: -200px;
        left: -290px;
        max-width: 700px;
    }
}
@media (max-width: 900px) {
    .entertainment_content .custom_col_image {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .entertainment_content .custom_col_text {
        padding-left: 30px;
    }
    .entertainment_text {
        padding: 15px 0;
    }
    .entertainment_text h1 {
        font-size: 24px;
        line-height: 44px;
    }
    .mission_content .custom_col_text,
    .mission_content .custom_col_image {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .mission_section {
        padding: 80px 0;
    }
    .mission_content .mission_text {
        padding: 30px 30px 0;
    }
    .faq_section .heading_text h3, .job_type_section .heading_text h3, .mission_content .mission_text .heading_text h3 {
        font-size: 28px;
        line-height: 28px;
    }
    .faq_section .heading_text p, .job_type_section .heading_text p, .mission_content .mission_text .heading_text p {
        font-size: 16px;
        line-height: 22px;
    }
    .mission_content .mission_text h2 {
        margin: 10px 0;
        font-size: 24px;
        line-height: 34px;
    }
    .job_type_section .custom_col_btn {
        -ms-flex: 0 0 200px;
        flex: 0 0 200px;
        max-width: 200px;
    }
    .job_type_section .custom_col_text {
        -ms-flex: 0 0 calc(100% - 200px);
        flex: 0 0 calc(100% - 200px);
        max-width: calc(100% - 200px);
        padding-left: 15px;
    }
    .job_type_section .job_type_btns_list a {
        max-width: 200px;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
    }
    .job_type_section .custom_row {
        margin-top: 40px !important;
    }
    .job_type_section a.button_read_more {
        margin-top: 60px;
    }
    .faq_section .custom_col_heading {
        -ms-flex: 0 0 200px;
        flex: 0 0 200px;
        max-width: 200px;
    }
    .faq_section .custom_col_text {
        -ms-flex: 0 0 calc(100% - 200px);
        flex: 0 0 calc(100% - 200px);
        max-width: calc(100% - 200px);
    }
    .faq_section .ui-accordion-header {
        padding: 15px 35px 15px 40px !important;
    }
    .faq_section .ui-accordion-header span.q_text,
    .faq_section .ui-accordion .ui-accordion-content span.a_text {
        top: 13px;
        left: 12px;
    }
    .faq_section .ui-accordion .ui-accordion-content {
        padding: 0 35px 20px 40px;
    }
    .faq_section .ui-accordion-header span.ui-accordion-header-icon {
        right: 10px;
        width: 15px;
        height: 15px;
    }
    .faq_section {
        padding: 80px 0 100px;
    }
}
@media (max-width: 675px) {
    .entertainment_content .custom_col_text {
        padding: 0 15px;
        position: relative;
    }
    .entertainment_text {
        padding: 130px 0 15px;
    }
    .entertainment_content .custom_col_image img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        max-width: 100%;
        max-height: 100%;
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
    }
    .mission_content .mission_text {
        padding: 20px 15px 0;
    }
    .faq_section .custom_col_heading,
    .faq_section .custom_col_text,
    .job_type_section .custom_col_btn,
    .job_type_section .custom_col_text {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0 15px;
    }
    .job_type_section .job_type_btns_list a {
        max-width: 100%;
    }
    .job_type_table {
        display: block;
        width: auto;
        margin-top: 10px;
    }
    .job_type_table_row {
        display: block;
        border-bottom: 1px solid #D5D5D5;
    }
    .job_type_table_th, .job_type_table_td {
        padding: 8px 0;
        display: block;
        border-bottom: none;
    }
    .job_type_table_th p {
        padding-right: 0;
    }
    .job_type_section a.button_read_more {
        width: 240px;
    }
    .faq_content {
        margin-top: 30px;
    }
    .job_type_section .custom_row {
        margin: 40px -15px 0 !important;
    }
}